:root{
    --theme-color: #0e1218;
    --text-color: #ffffff;
}

*{
    margin: 0;
    padding:0 ;
    border: 0;
}

body{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align :center;
    height: 100vh;
    background-color: var(--theme-color);
    transition: background-color 1s ease-in-out;
}

/* HEADINGS */

.title{
    grid-row-start: 1;
    margin-top: 5%;
}

h4{
    font-family: 'Rouge Script', cursive;
    font-size: 140%;
}

h1{
    font-weight: 200;
    
}

.turns{
    display: flex;
    justify-content: center;
    grid-row-start: 3;
    margin-bottom: 2%;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

h2{
    font-weight: 200;
    font-size: 100%;
    position: absolute;
    display: none;
}

/* MAIN BODY */
section{
    display: none;
    grid-template-columns: repeat(3,1fr);
    grid-row-start: 4;
    grid-gap: 2px;
    max-width: 300px;
}

section div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: var(--text-color);
    font-size:150%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: var(--theme-color);
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

section div:hover{
    opacity: 0.5;
}

.xo{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-row-start: 4;
    margin: 5% 0 15% 0;
    width: 50%;
    /* display:none; */
}
.xo h3{
    font-weight: 200;
    font-size: 100%;
    justify-self: center;
    width: inherit;
    grid-column: span 2;
}
.xo div{
    grid-row-start: 2;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    cursor: pointer;
    width: 50%;
}
.char{transition: opacity 0.5s ease-in-out;}
.char:nth-of-type(1){justify-self: end;}
.char:nth-of-type(2){justify-self: start;}


.spoiler{
    grid-row-start: 5;
    align-self: end;
    text-align: center;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 60%;
    height: 1em;
}
/* COLORS */

.colors{
    display: none;
    grid-row-start: 5;
    align-self: end;
    grid-template-columns: repeat(9, 1fr);
    height: 0.5em;
    min-width: 300px;
    width: 50%;
}

.colors div{
    cursor:pointer;
    height: 100%;
}

.zero{background-color: #525252;}
.one{background-color: #EA6161;}
.two{background-color: #eaa661;}
.three{background-color: #eebf52;}
.four{background-color: #57D257;}
.five{background-color: #00CDCD;}
.six{background-color: #61a6ea;}
.seven{background-color: #a661ea;}
.eight{background-color: #0e1218;}

@media screen and (max-width:600px){
    body{
        font-size:1rem;
    }
    .xo{
        width:100%;
    }
    h4{
        margin-top: 20%;
    }
}